<% layout('layouts/boilerplate') %>
<h1 class="text-center">Search Your Movie</h1>
<form
    class="justify-content-center align-items-center d-flex"
    action="/movies/results"
    method="GET"
>
    <input
        class="form-control w-50"
        type="search"
        name="searchTerm"
        id="search"
        placeholder="Enter Movie URL..."
    />
    <button class="btn btn-success" type="submit">Search Movie</button>
</form>
